html {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  background-color: #fff;
}

main {
  padding: 30px 15% 30px 250px;
}

h1,
header,
h2,
nav,
h3 {
  font-family: "Inknut Antiqua", serif;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

header {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #ccc;
}

h2 {
  font-size: 1.3em;
  font-weight: semibold;
}
nav {
  padding: 50px 30px 30px 30px;
  float: left;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 0.8em;
}
nav header {
  font-size: 1.2em;
  font-weight: semibold;
  border-bottom: none;
}

a {
  text-decoration: none;
  color: #081d94;
  font-weight: bold;
}

img {
  max-width: 80%;
  min-width: 200px;
  height: auto;
  margin: 20px auto 20px auto;
  display: block;
  filter: drop-shadow(0 0 0.75rem gray);
}

code {
  display: block;
  width: 40%;
  min-width: 200px;
  white-space: wrap;
  background-color: rgb(231, 230, 230);
  font-family: monospace;
  margin: 0 auto 0 auto;
  padding: 20px;
  line-height: 1em;
  text-align: left;
}

ul li {
  list-style-type: disc;
}

li {
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.5em;
}

ol li {
  list-style-type: number;
}

figcaption {
  color: gray;
  text-align: center;
  font-size: 0.8em;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 2em;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 10px;
  font-style: italic;
  font-size: 1.2em;
}

p {
  text-indent: 1cm;
  line-height: 2em;
  font-size: 1.1em;
}

#figma {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#figma img {
  max-width: 80%;
  margin: 5px auto;
}

#resources {
  display: grid;
  grid-template-columns: 50% 50%;
}

#testing-ul li {
  line-height: 2em;
  font-size: 1.1em;
  font-weight: normal;
}

@media (max-width: 700px) {
  #resources {
    display: block;
  }
  #figma {
    display: block;
  }
}
